node_modules/
.env
.env.*
!.env.example
.expo/
dist/
certs/
credentials.json
fastlane/report.xml
fastlane/README.md
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
eas-build-local/
